In [2]:
import pandas as pd
import requests
import collections

In [3]:
user_detail_data = pd.read_csv('datasets/users-details-2023.csv')
user_detail_df = pd.DataFrame(user_detail_data)
locations = user_detail_df['Location']

print(len(locations))
print(len(locations.unique()))
print(locations.nunique())

731290
53286
53285

In [4]:
url = 'https://restcountries.com/v3.1/all'
response = requests.get(url)
countries = collections.defaultdict(str)

if response.status_code == 200:
    response_body = response.json()

    for i in range(len(response_body)):
        common = response_body[i]['name']['common']
        official = response_body[i]['name']['official']

        countries[common] = common

        if 'nativeNames' in response_body[i]:
            native_names = response_body[i]['name']['nativeName']

            for key, val in native_names.items():
                countries[val['common']] = common
                countries[val['official']] = common

        if 'translations' in response_body[i]:
            translations = response_body[i]['translations']

            for key, val in translations.items():
                countries[val['common']] = common
                countries[val['official']] = common
else:
    print("Fail")

us_states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
    'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
    'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
    'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
    'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
]

for state in us_states:
    countries[state] = 'United States'

In [5]:
for index, row in user_detail_df.iterrows():

    location = row['Location']
    
    # To replace row whose type is not string with an empty string
    if type(location) != str:
        location = ""

    location_splited = location.split(",")
    is_valid_country = False

    for splited_str in location_splited:
        splited_str = splited_str.strip()

        if splited_str in countries:
            user_detail_df.at[index, 'Location'] = countries[splited_str]
            is_valid_country = True

    if not is_valid_country:
        user_detail_df.at[index, 'Location'] = None

print(locations.notna().sum())

82759

In [7]:
user_score_data = pd.read_csv('datasets/users-score-2023.csv')
user_score_df = pd.DataFrame(user_score_data)
common_users = pd.merge(user_score_df, user_detail_df, left_on=['user_id', 'Username'], right_on=['Mal ID', 'Username'], how='inner')

user_score_df = user_score_df[user_score_df.set_index(['user_id', 'Username']).index.isin(common_users.set_index(['user_id', 'Username']).index)]
user_detail_df = user_detail_df[user_detail_df.set_index(['Mal ID', 'Username']).index.isin(common_users.set_index(['user_id', 'Username']).index)]

print(user_score_df)
print(user_detail_df)

          user_id    Username  anime_id             Anime Title  rating
0               1       Xinil        21               One Piece       9
1               1       Xinil        48             .hack//Sign       7
2               1       Xinil       320                  A Kite       5
3               1       Xinil        49        Aa! Megami-sama!       8
4               1       Xinil       304  Aa! Megami-sama! Movie       8
...           ...         ...       ...                     ...     ...
24325186  1291087   Oblongata     10611                    R-15       3
24325187  1291087   Oblongata       174            Tenjou Tenge       6
24325188  1291097  JuunanaSai      1535              Death Note       9
24325189  1291097  JuunanaSai       226              Elfen Lied      10
24325190  1291097  JuunanaSai      8425                  Gosick      10

[23803779 rows x 5 columns]
         Mal ID    Username  Gender                   Birthday       Location  \
0             1       Xinil    Male  1985-03-04T00:00:00+00:00  United States
2             4     Crystal  Female                        NaN      Australia
3             9      Arcane     NaN                        NaN           None
5            20      vondur    Male  1988-01-25T00:00:00+00:00         Norway
6            23       Amuro     NaN  1988-02-22T00:00:00+00:00         Canada
...         ...         ...     ...                        ...            ...
731280  1291057    imjustjk    Male  1997-12-24T00:00:00+00:00  United States
731284  1291079      Dybido    Male                        NaN           None
731286  1291085  alenrobnik     NaN                        NaN           None
731287  1291087   Oblongata     NaN  1993-01-30T00:00:00+00:00           None
731289  1291097  JuunanaSai  Female                        NaN           None

                           Joined  Days Watched  Mean Score  Watching  \
0       2004-11-05T00:00:00+00:00         142.3        7.37       1.0
2       2004-11-13T00:00:00+00:00         212.8        6.68      16.0
3       2004-12-05T00:00:00+00:00          30.0        7.71       5.0
5       2005-01-05T00:00:00+00:00          73.1        8.06      11.0
6       2005-01-23T00:00:00+00:00         142.5        7.41      20.0
...                           ...           ...         ...       ...
731280  2012-05-06T00:00:00+00:00         101.9        7.00       3.0
731284  2012-05-06T00:00:00+00:00          41.0        8.48       2.0
731286  2012-05-06T00:00:00+00:00          21.4        8.22      16.0
731287  2012-05-06T00:00:00+00:00          51.3        7.53      38.0
731289  2012-05-06T00:00:00+00:00           3.7        9.67       1.0

        Completed  On Hold  Dropped  Plan to Watch  Total Entries  Rewatched  \
0           233.0      8.0     93.0           64.0          399.0       60.0
2           636.0    303.0      0.0           45.0         1000.0       10.0
3            54.0      4.0      3.0            0.0           66.0        0.0
5            94.0     11.0      2.0           20.0          138.0        7.0
6           298.0      5.0     19.0           50.0          392.0        0.0
...           ...      ...      ...            ...            ...        ...
731280      181.0      5.0     19.0           34.0          242.0       19.0
731284       88.0      7.0      5.0           33.0          135.0        0.0
731286       58.0      9.0      1.0           42.0          126.0        0.0
731287      175.0      0.0      9.0          211.0          433.0        2.0
731289       11.0      0.0      0.0            2.0           14.0        0.0

        Episodes Watched
0                 8458.0
2                12781.0
3                 1817.0
5                 4374.0
6                 8565.0
...                  ...
731280            7015.0
731284            3317.0
731286            1239.0
731287            3010.0
731289             222.0

[264069 rows x 16 columns]